version: '2'

services:

  #
  # Data container.
  #
  data:
    build: ./data
    volumes:
     - ./data/mysql:/var/lib/mysql

  #
  # Relational database container.
  #
  db:
    build: ./db/mysql
    environment:
      MYSQL_DATABASE: homestead
      MYSQL_USER: homestead
      MYSQL_PASSWORD: secret
      MYSQL_ROOT_PASSWORD: root
    ports:
      - "3306:3306"
    volumes_from:
      - data

  #
  # PHP container.
  #
  php:
    build: ./php
    links:
      - workspace
    expose:
      - "9000"
    volumes_from:
      - workspace

  #
  # Web server container.
  #
  web:
    build: ./web/nginx
    image: nginx:stable
    links:
      - php
    ports:
      - "80:80"
    volumes_from:
      - php

  #
  # Workspace container.
  #
  workspace:
    build: ./workspace
    depends_on:
      - db
    ports:
      # Expose browser sync ports.
      - "3000:3000"
      - "3001:3001"
    tty: true
    volumes:
      - ..:/var/www/html
      # Include the host ssh keys
      - ~/.ssh:/root/.ssh:ro