version: '2'

services:

  #
  # Data container.
  #
  data:
    build: ./data
    volumes:
     - /var/lib/mysql:/var/lib/mysql

  #
  # Relational database container.
  #
  db:
    build: ./db/mysql
    environment:
      MYSQL_DATABASE: homestead
      MYSQL_USER: homestead
      MYSQL_PASSWORD: secret
      MYSQL_ROOT_PASSWORD: root
    links:
      - workspace
    ports:
      - "3306:3306"
    volumes_from:
      - data

  #
  # PHP container.
  #
  php:
    build: ./php
    links:
      - workspace
    expose:
      - "9000"
    volumes:
      - ..:/var/www/html

  #
  # Web server container.
  #
  web:
    build: ./web/nginx
    image: nginx:stable
    links:
      - php
    ports:
      - "80:80"
    volumes_from:
      - php

  #
  # Workspace container.
  #
  workspace:
    build: ./workspace